$padding: 6px;
$color: white;

section {
  ul {
    margin: 0;
    padding: $padding;
    list-style: none;
  }

  .deity { 
    display: inline-block; 
    color:$color;
  }
  

  a {
    display: block;
    padding: $padding 12px;
    text-decoration: underline;
  }
}
